[Unit]
Description=Noise barrier
After=sound.target

[Service]
ExecStart=/opt/noise_barrier/noise_barrier.sh
# WorkingDirectory=/opt/noise_barrier
# StandardOutput=inherit
# StandardError=inherit
# Restart=always
# User=pi
User=root

[Install]
WantedBy=default.target
# WantedBy=multi-user.target
